.divBackground {
    background-image: url('/assets/img/image.jpg'); /* Chemin de votre image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
.tab-button {
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
  }